* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    background-color: rgb(156, 182, 205);

}

.nav {
    background-color: rgb(156, 182, 205);
}

.phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    color: rgb(251, 252, 254);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.12px;
    text-align: left;
    text-decoration: none;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(54, 83, 107);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    list-style: none;
}

.btnn {
    border-radius: 24px;
    width: 173px;
    height: 48px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background: rgb(186, 66, 112);
}

.btn {

    color: rgb(251, 252, 254);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.12px;

}

.smart {
    background: linear-gradient(180.00deg, rgb(156, 182, 205), rgb(154, 179, 202) 41.729%, rgb(85, 116, 150) 71.101%, rgb(71, 81, 120) 99.221%);
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.start {
    color: rgb(54, 83, 107);
    font-family: DM Serif Display;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.55px;

}

.tesla {


    width: 1520px;
    height: 472px;
    gap: 30px;
    background: rgb(27, 38, 47);
}

.Who {
    color: rgb(251, 252, 254);
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.37px;
    text-align: left;

}

.gogle {
    color: rgb(251, 252, 254);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    width: 445px;
    height: 112px;
}

.btn3 {
    border-radius: 24px;
    width: 173px;
    height: 48px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background: rgb(27, 38, 47);


    width: 129px;
    height: 48px;


}

.About {
    color: rgb(251, 252, 254);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.12px;
    text-align: center;
}



.images {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}

.to {
    color: rgb(54, 83, 107);
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.37px;
    text-align: left;
}

.our {
    color: rgb(108, 130, 148);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.easy {}

.codes {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bank {
    background-color: rgb(242, 242, 242);
    display: flex;

}

.money {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.personal {
    color: rgb(54, 83, 107);
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.14px;

}

.data {
    color: rgb(108, 130, 148);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.12px;

}

.images {
    margin-top: 20px;

}

.phones {
    background: rgb(27, 38, 47);
    width: 1540px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.text2 {
    list-style: none;
    gap: 30px;
    color: rgb(251, 252, 254);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    display: flex
}